:root {
	--general-text: #111111;
	--accent-color: #c5358c;
	--general-bg: #dddddd;
	--button-color:#4d57c8;
	--transition: all .3s;
}
.body {
	font-family: "OpenSans", "Arial", sans-serif;
	color: var(--general-color);
	font-weight: 300;
}
.body--opened-menu {
	overflow: hidden;
}
.wrapper {
	min-height: 100%;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 20px;
	height: 100%;
}

.main {
	flex-grow: 1;
}

.offers__page-control button.swiper-button-disabled{
	border-color: #ababab;
}
.equipment button.swiper-button-disabled{
	border-color: #ababab;
}
.swiper-button-disabled path{
	fill: #ababab;
}

.accent-color{
	color: var(--accent-color);
}
.title{
	font-family: "NAMU", sans-serif;
	font-size: 42px;
	line-height: 1.1;
}
.items-title {
	font-family: "NAMU", sans-serif;
	font-weight: 900;
	font-size: 20px;
}

.btn {
	background: var(--button-color);
	font-size: 24px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 10px;
	max-height: 62px;
	transition: var(--transition);
}