body{
    background: linear-gradient(to left,#D9B3C4, #402531);
    color: #402531;
}
.container{
    padding-inline:80px;
}
.header{
    background: #EAB8D1;
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    font-size: 25px;
    align-items: center;
    padding-bottom: 18px;
    border-radius: 0 0 40px 40px;

}
.menu-list{
    display: flex;
    gap: 60px;
    margin-left: 212px;
    margin-right: 164px;
}
.btn{
    padding: 16px 18px;
    border-radius: 20px;
    font-weight: 700;
}
.btn-primary{
    background: #402531;
    color: #FFC0CB;
}
.btn-secondary{
    background: #FFC0CB;
    border: 5px solid #402531;
    color: #402531;
}

a:visited{
    color: #FFC0CB; 
}
.menu-tel{
    font-weight: 700;
}
.main{
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}
.main__img{
    width: 42.5vw;
    height: 80.5vh;
    margin-right: 20px;
    img{
        border-radius: 40px;
        border: 5px solid #000;
    }
}
h1{
    font-size: 96px;
    width: 800px;
}
.main h2{
    width: 800px;
}
h2{
    font-size: 48px;
    font-weight: bold;
}
.main_list{
    display: flex;
    flex-direction: column;
    font-size: 32px;
    list-style-type: square;
    gap: 5px;
    margin-top: 50px;
    & li{
        list-style: disc;
        margin-left: 30px;
    }
}

.main_buttons{
    margin-top: 150px;
    margin-left: 20px;
    font-size: 32px;

    & :first-child{
        background: #402531;
        color: #FFC0CB;
        margin-right: 75px;
    }
}

.Pink{
    color: #DB008A;
}


.services{
    margin-top: 70px;
    margin-inline: 80px;
    background: #EAB8D1;
    border-radius: 40px;
    padding: 20px 40px;
}
.services_upper{
    display: flex;
    justify-content: space-between;
}
.search_field{
    background: #ffffff;
    background-image: url();
    border-radius: 50px;
    width: 500px;
    height: 30px;
    padding-left: 35px;
}
.services_blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.services_item{
    text-align: center;
    font-size: 32px;
    border: 5px solid #402531;
    color: #402531;
    width: 500px;
    margin-bottom: 40px;
    border-radius: 20px;
    padding-inline: 50px;
    cursor: pointer;
    font-weight: bold;
    align-content: center;

}
.services .btn{
    margin-top: 0px;
    text-align: center;
    display: block;
    font-size: 32px;
}
.muted_services_onclick{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 250%;
    align-content: center;
}
.active{
    display: block;
}
.services_onclick{
    width: 30%;
    margin-left: 35%;
    background: #EAB8D1;
    padding: 40px;
    border: 5px solid #402531;
    color: #402531;
    border-radius: 40px;
    text-align: right;
    font-size: 32px;
    font-weight: bold;
}
h3{
    font-size: 32px;
    margin-bottom: 50px;
}
.services_onclick_item{
    border: 5px solid #402531;
    border-radius: 20px;
    padding-inline: 20px;
    margin-bottom: 40px;
    cursor: pointer;
}
.masters{
    margin-top: 70px;
    margin-inline: 80px;
    background: #EAB8D1;
    border-radius: 40px;
    padding: 20px 40px; 
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.masters h2{
    width: 100%;
}
.masters_master{
    text-align: center;
    width: 375px;
    height: 450px;
    border: 5px solid #000;
    border-radius: 20px;
}
.master_photo{
    background: #ffffff;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 20px auto;

}
.master_name{
    font-size: 48px;
    margin-bottom: 30px;
}
.master_rank{
    font-size: 36px;
    margin-bottom: 30px;
}
.master_btn{
    padding: 10px 50px;
    border-radius: 20px;
    color: #FFC0CB;
    font-size: 24px;
}